body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top:  50px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
    padding: 60px;

}
#transaction-area{
    display:none;
}
.status{
    color:antiquewhite;
    margin: 0 20px;
    border-radius: 5px;
    padding: 20px;
}
.deposit{
background-color: aqua;
}
.withdraw{
background-color: brown;
}
.balance{
background-color: chartreuse;
}
